@import '../../Sass/Variables.scss';

.product {
  margin: 2rem 4rem;
  position: relative;
  display: flex;
  gap: 5rem;

  .left {
    display: flex;
    flex: 1;
    gap: 2rem;
    .images {
      flex: 1;

      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: center;
        cursor: pointer;
        margin-bottom: 1rem;
      }
    }
    .mainImg {
      flex: 5;
      img {
        width: 100%;
        max-height: 80vh;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .right {
    flex: 1;
  }
}
